@import "../../assets/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.circle-img {
    width: 250px;
    height: 250px;
    margin-right: 40px;
    border-radius: 50%;
    @media screen and (max-width: 750px) {
        width: 200px;
        height: 200px;
        margin-right: 0;
    }
    @media screen and (max-width: 425px) {
        width: 175px;
        height: 175px;
    }
}

.head-container {
    width: 100%;
    color: $secondary;
    margin-top: 80px;
}

.header-name {
    margin-bottom: 10px;
    @media screen and (max-width: 425px) {
        font-size: 125%;
    }
}

.header-sub {
    margin-top: 10px;
    @media screen and (max-width: 425px) {
        font-size: 125%;
    }
}

.intro-container {
    padding-left: 40px;
    // Border between pic and 'hi I'm matt'
    //border-left: 1px solid rgba(60, 59, 57, 0.55);
    @media screen and (max-width: 625px) {
        padding: 10px !important;
    }
    @media screen and (max-width: 605px) {
        padding: 0 !important;
        margin-top: 20px;
        align-items: center !important;
    }
}

.head-footer {
    .down-icon {
        cursor: pointer;
        color: $accent;
        font-size: 60px;
        width: 60px;
        height: 60px;
    }
}
