<div id="head-start" class="head-container" fxFlex="80%" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
        <img class="circle-img" alt="Picture" src="/me/assets/images/portside3.png" />
        <div class="intro-container" fxLayout="column" fxLayoutAlign="center start">
            <h2 class="header-name"><strong>Hi</strong>, I'm Matt.</h2>
            <h3 class="header-sub">I'm a Full Stack Developer.</h3>
        </div>
    </div>
</div>
<div class="head-footer" fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
    <span>
        <i pageScroll [pageScrollOffset]="45" href="#about-start" class="mt-icon down-icon">keyboard_arrow_down</i>
    </span>
</div>
