@import "../../assets/variables.scss";

#footer {
    background-color: #363636;
    color: white;
    padding: 10px 0;
    .foot-text {
        font-weight: 200;
        font-size: 12px;
    }
}

a {
    color: $accent;
}
