@import "../../assets/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

#footer {
    background-color: #363636;
    color: white;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    .foot-text {
        font-weight: 200;
        font-size: 12px;
    }
}

a {
    color: #E26D64;
}
