<div id="about-start" class="about-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="down-triangle"></div>
    <h1 class="about">About</h1>
    <div class="info-container" fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap">
        <div fxFlex="40%" class="card">
            <div class="card-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="start start">
                <h4 class="card-title" fxLayout="row" fxLayoutAlign="start">
                    <i class="mt-icon">person</i>
                    <span class="title-text">Personal Info</span>
                </h4>
                <p class="card-text">
                    Hi, I'm Matt. I'm passionate about everything remotely related to computers and spend most of my time working on personal projects.
                    I love sitting down and creating with some nice music playing in the background. That's my kind of Friday night.
                </p>
                <p class="card-text">
                    My interests include reading, philosophy, history, strategy games and hockey.
                </p>
                <p class="card-text">
                    I'm currently attending Concordia University as a second-year Computer Science student.
                </p>
                <p class="card-text">
                    By the way - my actual name is Mathieu, but only my mother is allowed to call me that. I reserve the right to make exceptions.
                </p>
                <span>
                    <a class="icon-link" title="GitHub" href="https://github.com/MattL75">
                        <i class="about-icon fa fa-github-square"></i>
                    </a>
                    <a class="icon-link" title="LinkedIn" href="https://www.linkedin.com/in/mlajoie03/">
                        <i class="about-icon fa fa-linkedin-square"></i>
                    </a>
                </span>
            </div>
        </div>
        <div fxFlex="40%" class="card">
            <div class="card-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="start start">
                <h4 class="card-title" fxLayout="row" fxLayoutAlign="start">
                    <i class="mt-icon">school</i>
                    <span class="title-text">Education</span>
                </h4>
                <div class="card-text">
                    <div class="school-info-1" fxLayout="row">
                        <div fxFlex="30%" fxLayout="column">
                            <strong>Concordia</strong>
                            <strong>University</strong>
                            2016 - 2019
                        </div>
                        <div class="desc" fxFlex="70%" fxLayout="column">
                            <strong>Computer Science</strong>
                            I'm a member of the Co-op Program, and must complete three internships prior to graduation. I also contribute heavily to personal projects that my team undertakes.
                        </div>
                    </div>
                    <div class="school-info-2" fxLayout="row">
                        <div fxFlex="30%" fxLayout="column">
                            <strong>Champlain</strong>
                            <strong>College</strong>
                            2014 - 2016
                        </div>
                        <div class="desc" fxFlex="70%" fxLayout="column">
                            <strong>Computer Science & Mathematics</strong>
                            Recipient of the Honour Roll award for all semesters attended. Won second place at a hackathon in Sherbooke. Built a Real-Time Strategy game as a final project that included a custom physics engine.
                        </div>
                    </div>
                </div>
                <a href="#!" class="btn btn-primary">Download my <strong>CV</strong></a>
            </div>
        </div>
        <div fxFlex="40%" class="card">
            <div class="card-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="start start">
                <h4 class="card-title" fxLayout="row" fxLayoutAlign="start">
                    <i class="mt-icon">star_rate</i>
                    <span class="title-text">Skills</span>
                </h4>
                <div class="card-text progress-text" fxLayout="column">
                    <div *ngFor="let skill of skillsConfig" class="progress">
                        <div class="progress-bar progress-custom" [style.width]="(skill.width) + '%'">
                            <span>{{skill.text}}</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer skills-foot" fxLayout="row" fxLayoutAlign="space-between">
                    <span fxFlex fxLayout="row" fxLayoutAlign="start center"><strong>learning</strong></span>
                    <span fxFlex fxLayout="row" fxLayoutAlign="center center"><strong>decent</strong></span>
                    <span fxFlex fxLayout="row" fxLayoutAlign="end center"><strong>fluent</strong></span>
                </div>
            </div>
        </div>
        <div fxFlex="40%" class="card">
            <div class="card-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="start start">
                <h4 class="card-title" fxLayout="row" fxLayoutAlign="start">
                    <i class="mt-icon">build</i>
                    <span class="title-text">Tools</span>
                </h4>
                <div class="card-text progress-text" fxLayout="column">
                    <div *ngFor="let tool of toolsConfig" class="progress">
                        <div class="progress-bar progress-custom" [style.width]="(tool.width) + '%'">
                            <span>{{tool.text}}</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer skills-foot" fxLayout="row" fxLayoutAlign="space-between">
                    <span fxFlex fxLayout="row" fxLayoutAlign="start center"><strong>learning</strong></span>
                    <span fxFlex fxLayout="row" fxLayoutAlign="center center"><strong>decent</strong></span>
                    <span fxFlex fxLayout="row" fxLayoutAlign="end center"><strong>fluent</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>
