<div class="about-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="down-triangle"></div>
    <h1 class="about">About</h1>
    <div class="info-container" fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap">
        <div fxFlex="40%" class="card">
            <div class="card-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="start start">
                <h4 class="card-title" fxLayout="row" fxLayoutAlign="start">
                    <i class="mt-icon">person</i>
                    <span class="title-text">Personal Info</span>
                </h4>
                <p class="card-text">
                    Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div fxFlex="40%" class="card">
            <div class="card-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="start start">
                <h4 class="card-title" fxLayout="row" fxLayoutAlign="start">
                    <i class="mt-icon">school</i>
                    <span class="title-text">Education</span>
                </h4>
                <p class="card-text">
                    Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                </p>
            </div>
        </div>
        <div fxFlex="40%" class="card">
            <div class="card-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="start start">
                <h4 class="card-title" fxLayout="row" fxLayoutAlign="start">
                    <i class="mt-icon">star_rate</i>
                    <span class="title-text">Skills</span>
                </h4>
                <p class="card-text">
                    Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                </p>
            </div>
        </div>
        <div fxFlex="40%" class="card">
            <div class="card-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="start start">
                <h4 class="card-title" fxLayout="row" fxLayoutAlign="start">
                    <i class="mt-icon">build</i>
                    <span class="title-text">Tools</span>
                </h4>
                <p class="card-text">
                    Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                </p>
            </div>
        </div>
    </div>
</div>
