<div class="navigation sticky-top">
    <div class="actual-nav" fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
        <div class="title" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <span class="nav-heading">Matt&nbsp;<strong>LAJOIE</strong></span>
        </div>
        <div class="nav-items" fxLayout="row" fxLayoutAlign="center center">
            <a>About</a>
            <a>Career</a>
            <a>Projects</a>
            <a>Contact</a>
        </div>
    </div>
</div>
