@import "../../assets/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.projects-container {
    width: 100%;
    padding-bottom: 70px;
    color: #F2F1EF;
    background-color: #E26D64;
    font-family: 'Montserrat', sans-serif;
}

.down-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F2F1EF;
}

.projects {
    margin-top: 40px;
    margin-bottom: 35px;
    border-bottom: 3px double #F2F1EF;
}

.card {
    color: #3C3B39;
    border: none !important;
}

.about-icon {
    color: #E26D64;
    font-size: 34px;
    width: 34px;
    height: 34px;
}

.icon-link {
    color: transparent;
    margin-right: 10px;
}

.card-footer-custom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 1;
}

.inner-footer-span {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.prj-img {
    width: 288px;
    height: 162px;
}

.card {
    margin: 10px;
    background-color: $primary;
}
