<div id="projects-start" class="projects-container" fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center start"><div class="down-triangle"></div></div>
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center start"><h1 class="projects">Projects</h1></div>
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/me/assets/images/gooeywars.png" alt="Gooey Wars">
            <div fxLayout="column" class="card-body">
                <h5 class="card-title"><strong>Gooey Wars</strong></h5>
                <p class="card-text">Built with Karl Godin, this academic project is based on Starcraft II. Goo can grow and acquire chemical elements from geysers, which they can then react together to gain powers. Contains pathfinding and an overpowered AI.</p>
                <span class="card-footer-custom">
                    <span class="inner-footer-span">
                        <a class="icon-link" title="GooeyWars" href="https://github.com/MattL75/gooey-wars">
                            <i class="about-icon fa fa-github-square"></i>
                        </a>
                        <span>Find it on GitHub!</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/me/assets/images/tron.png" alt="Tron">
            <div fxLayout="column" class="card-body">
                <h5 class="card-title"><strong>Tron</strong></h5>
                <p class="card-text">Local multiplayer personal project made for fun. I wanted to get back into JavaFX, so I started a small little project to ease the re-learning curve. I tried to implement difficult JFX concepts such as factories and others.</p>
                <span class="card-footer-custom">
                    <span class="inner-footer-span">
                        <a class="icon-link" title="Tron" href="https://github.com/MattL75/tron-game-version">
                            <i class="about-icon fa fa-github-square"></i>
                        </a>
                        <span class="bot-text">Find it on GitHub!</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top prj-img" src="/me/assets/images/mural.png" alt="Mur à Mur">
            <div fxLayout="column" class="card-body">
                <h5 class="card-title"><strong>Mur à Mur</strong></h5>
                <p class="card-text">Hackathon project made in a team of five. It was our first time developing Android, and we won $1500 in second place. The app helps residents and tourists discover Sherbrooke through exploring its amazing murals.</p>
                <span class="card-footer-custom">
                    <span class="inner-footer-span">
                        <a class="icon-link" title="Mur à Mur" href="https://github.com/MattL75/mur-a-mur">
                            <i class="about-icon fa fa-github-square"></i>
                        </a>
                        <span>Find it on GitHub!</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top prj-img" src="/me/assets/images/snake-dark-center.png" alt="Simple Snake">
            <div fxLayout="column" class="card-body">
                <h5 class="card-title"><strong>Simple Snake</strong></h5>
                <p class="card-text">Fun little JavaFX personal project. Made in a few hours out of boredom, I quite like how it turned out. The animations are timeline-based and flow very nicely. Infinite levels that spawn more obstacles as you go. </p>
                <span class="card-footer-custom">
                    <span class="inner-footer-span">
                        <a class="icon-link" title="Simple Snake" href="https://github.com/MattL75/snake-javafx">
                            <i class="about-icon fa fa-github-square"></i>
                        </a>
                        <span>Find it on GitHub!</span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
