<div id="contact-start" class="contact-container" fxFlex fxLayout="row">
    <div fxFlex fxLayout="column" class="contact contact-section">
        <h4><strong>Contact</strong></h4>
        <p>I'm sure you understand that, with the current state of the internet, I'm not about to give out very relevant personal information. If there's a certain piece of info you really need or want for whatever reason, send me an Email and I can decide whether or not I like you enough to hand it over.</p>
        <div fxLayout="column">
            <span class="contact-link">
                <a class="icon-link" title="GitHub" href="https://github.com/MattL75">
                    <i class="about-icon fa fa-github-square"></i>
                </a>
                <span>MattL75</span>
            </span>
            <span class="contact-link">
                <a class="icon-link" title="LinkedIn" href="https://www.linkedin.com/in/mlajoie03/">
                    <i class="about-icon fa fa-linkedin-square"></i>
                </a>
                <span>mlajoie03</span>
            </span>
            <span class="contact-link">
                <a class="icon-link" title="Email" href="mailto:mlajoie03@gmail.com">
                    <i class="about-icon fa fa-envelope-square"></i>
                </a>
                <span>mlajoie03@gmail.com</span>
            </span>
        </div>
    </div>
    <div fxFlex fxLayout="column" class="comments contact-section">
        <h4><strong>Comments</strong></h4>
        <p>Just a couple things to say before I let you be on your way.</p>
        <p class="par2">Full disclaimer, I'm no UI designer. I tried to get inspired by a variety of websites I've found while scouring the internet. I rather like this design, but I'm aware it has flaws which I'm not able to fix due to inexperience in UX.</p>
        <p class="par2">My CSS scalability could also use some work. There's a lot of classes that reappear in different components. Too lazy to fix something so trivial for a static webite, though.</p>
        Thanks for stopping by :)
    </div>
</div>
