@import "../../assets/variables.scss";

.down-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $accent;
}

.career-container {
    background-color: $primary;
    color: $accent;
    padding-bottom: 70px;
}
