<div class="career-container" fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center start"><div class="down-triangle"></div></div>
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center start"><h1 class="career">Career</h1></div>
    <div class="info-container" fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap="wrap">
        <div class="career-box" fxFlex="40%" fxLayout="column">
            <div class="card-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="start start">
                <div class="career-header" fxFlex="100%" fxLayout="row" fxLayoutAlign="start center">
                    <img class="sci-img" src="../../assets/images/scigilianSmall.png"/>
                    <div>
                        <strong>Scigilian Software</strong><br/>
                        <strong>Junior Software Developer</strong>
                    </div>
                </div>
                <p>
                    At Scigilian, I was effectively working as a full stack developer. It was my first experience in a professional workplace, and boy was it a good one. The atmosphere is cozy and familial, the people welcoming and friendly. Daily scrums and modern technology make for incredibly rewarding web application development. I considered returning here, but I ultimately decided to use my co-op program to experience different workplaces. I was given the 'Excellent' rating for my evaluation. In your face, Salad.
                </p>
            </div>
        </div>
        <div class="career-box" fxFlex="40%" fxLayout="column">
            <div class="card-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="start start">
                <div class="career-header" fxLayout="row" fxLayoutAlign="start center">
                    <div class="checker" fxLayoutAlign="center center"><img class="sol-img" src="../../assets/images/soluteo.png"/></div>
                    <div>
                        <strong>Soluteo</strong><br/>
                        <strong>Frontend Intern</strong>
                    </div>
                </div>
                <p>
                    I've only now started my internship at Soluteo. I will be working full-time on the frontend of a web application. So far, the people are nice. Can't really say much else without damning myself later on!
                    The interviews were fun and the questions were fair. At lunch, everybody gets together in the kitchen and just talks about various topics, typically not work-related. It's a nice change of pace, and very useful to break the ice as an intern. I reserve judgement, for now.
                </p>
                <!--<p>I reserve judgement, for now.</p>-->
                <!--However, it feels much more disorganized than Scigilian was, leading the team to a confused outlook on the progress of the application.-->
            </div>
        </div>
    </div>
</div>
